#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

h6 {
    font-style: Noto Sans;
    font-size: 15px;
    font-weight: 53;
    position: absolute;
    bottom: 7%;
    right: 4.8%;
    top: 1540%;
}

.image-name{
    width: 350px;
    height: 180px;
    margin-left: 630px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-name img{
    width: 100%;
    height: auto;
    display: block;

}

.image-email {
    width: 350px;
    height: 180px;
    margin-left: 630px;
    margin-top: -140px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-email img{
    width: 100%;
    height: auto;
    display: block;

}

.image-school {
    width: 350px;
    height: 180px;
    margin-left: 630px;
    margin-top: -140px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-school img{
    width: 100%;
    height: auto;
    display: block;

}

.image-support {
    width: 350px;
    height: 0px;
    margin-left: 630px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.image-support img {
    width: 100%;
    height: auto;
    display: block;
}

.image-self {
    width: 350px;
    height: 230px;
    margin-left: 630px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.image-self img {
    width: 100%;
    height: auto;
    display: block;
}

.image-strong {
    width: 350px;
    height: 0px;
    margin-left: 630px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.image-strong img {
    width: 100%;
    height: auto;
    display: block;
}

.image-home {
    width: 150px;
    margin-left: 1330px;
    margin-top: 140px;
}

.image-home img {
    width: 100%;
    height: auto;
    display: block;
}

.image-finish {
    width: 150px;
    margin-left: 1150px;
    margin-top: -42px;
}

.image-finish img {
    width: 100%;
    height: auto;
    display: block;
}