* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

body {
    display: flex;
    height: 100vh;
    margin: 97px 0 159px 0;
    flex-direction: column;
    justify-content: center;
}

body video {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

#form-container {
    row-gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box-title {
    opacity: 1;
    font-size: 28px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 38px;
    letter-spacing: 0em;
}

.box-input {
    width: 616px;
    border: none;
    height: 208px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

textarea {
    opacity: 1;
    resize: none;
    border: none;
    font-size: 22px;
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    padding: 14px 20px;
    letter-spacing: 0em;
    word-wrap: break-word;
    word-break: break-all;
    width: calc(100% - 40px);
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

#button-box {
    display: flex;
    column-gap: 56px;
}

.button {
    width: 280px;
    height: 62px;
    border: none;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    text-align: right;    
    line-height: 33px;
    border-radius: 5px;    
    align-items: center;
    letter-spacing: 0em;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.button:nth-child(2) {
    opacity: 0.2;
}

.button:nth-child(2):disabled {
    opacity: 0.3;
}