
#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

h{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

a{
    color:white
}

.container1, .container2, .container3, .container4 {
    position: relative;
    width: 300px; 
    height: 300px; 
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15, .image16, .image17, .image18, .image19, .image20, .image21, .image22 {
    position: absolute;
    top: 30px;
    left: 30px;
}


.image2, .image4, .image6, .image8, .image10, .image12, .image14, .image16, .image18, .image20, .image22 {
    z-index: 1;
}

.image1, .image3, .image5, .image7, .image9, .image11, .image13, .image15, .image17, .image19, .image21 {
    width: 250px;
}

.image2, .image4, .image6, .image8, .image10, .image12, .image14, .image16, .image18, .image20, .image22  {
    width: 250px;
    top: 130px;
}

/* 20기 사진 위치 조정 */

.image3, .image4, .image5, .image6{
    left: 350px;
}

.image7, .image8 {
    left: 650px;
}

.image9, .image10 {
    left: 1220px;
}

.image5, .image6, .image7, .image8, .image9, .image10{
    top: 100px;
}

.image6, .image8, .image10{
    top: 200px;
}

/* 21기 사진 위치 조정 */

.image13, .image14, .image19, .image20{
    left: 350px;
}

.image15, .image16{
    left: 810px;
}

.image21, .image22 {
    left: 1220px;
}

.image11, .image12, .image13, .image14, .image15, .image16{
    top: 180px;
}

.image17, .image18, .image19, .image20, .image21, .image22{
    top: 250px;
}

.image12, .image14, .image16{
    top:280px;
}

.image18, .image20, .image22{
    top:350px;
}

